$font-main: 'DM Sans', sans-serif;
$font-secondary: 'Poppins', sans-serif;

// Colors

$dark: #171718;
$light-blue: #5C62EC;
$white: #FAFAFA;
$black-border: #26292D;

// Light Mode
$page-bg: $white;
$text-color: $dark;
$title-1: $light-blue;
